<div class="modal-header">
  <h4 class="modal-title pull-left">Edit Record</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" novalidate (ngSubmit)="saveForm()">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="operator">Operator</label>
          <input type="text" id="operator" class="form-control border-input" placeholder="Operator"
                 formControlName="operator">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="client_name">Client Name</label>
          <input type="text" id="client_name" class="form-control border-input" placeholder="Client Name"
                 formControlName="client_name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" id="phone" class="form-control border-input" placeholder="Phone" formControlName="phone">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="date">Date</label>
          <input type="text" id="date" class="form-control border-input" placeholder="Date" formControlName="date">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="p_u_time">P/U Time</label>
          <input type="text" id="p_u_time" class="form-control border-input" placeholder="P/U Time"
                 formControlName="p_u_time">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="appt_time">Appt. Time</label>
          <input type="text" id="appt_time" class="form-control border-input" placeholder="Appt. Time"
                 formControlName="appt_time">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="p_u_address_entrance">P/U Address/Entrance</label>
          <input type="text" id="p_u_address_entrance" class="form-control border-input"
                 placeholder="P/U Address/Entrance"
                 formControlName="p_u_address_entrance">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="p_u_city">P/U City</label>
          <input type="text" id="p_u_city" class="form-control border-input" placeholder="P/U City"
                 formControlName="p_u_city">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="drop_off_address_entrance">Drop-off Address/Entrance</label>
          <input type="text" id="drop_off_address_entrance" class="form-control border-input"
                 placeholder="Drop-off Address/Entrance"
                 formControlName="drop_off_address_entrance">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="drop_off_city">Drop-off City</label>
          <input type="text" id="drop_off_city" class="form-control border-input" placeholder="Drop-off City"
                 formControlName="drop_off_city">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="miles">Miles</label>
          <input type="text" id="miles" class="form-control border-input" placeholder="Miles" formControlName="miles">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="fare">Fare</label>
          <input type="text" id="fare" class="form-control border-input" placeholder="Fare" formControlName="fare">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="trip_type">Trip Type</label>
          <input type="text" id="trip_type" class="form-control border-input" placeholder="Trip Type"
                 formControlName="trip_type">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="veh_type">Veh. Type</label>
          <input type="text" id="veh_type" class="form-control border-input" placeholder="Veh. Type"
                 formControlName="veh_type">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="standing_order_id">Standing Order ID</label>
          <input type="text" id="standing_order_id" class="form-control border-input" placeholder="Standing Order ID"
                 formControlName="standing_order_id">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="escort_count">Escort Count</label>
          <input type="text" id="escort_count" class="form-control border-input" placeholder="Escort Count"
                 formControlName="escort_count">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="trip_num">Trip Num</label>
          <input type="text" id="trip_num" class="form-control border-input" placeholder="Trip Num"
                 formControlName="trip_num">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="shared_group">Shared Group</label>
          <input type="text" id="shared_group" class="form-control border-input" placeholder="Shared Group"
                 formControlName="shared_group">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="trip_direction">Trip Direction</label>
          <input type="text" id="trip_direction" class="form-control border-input" placeholder="Trip Direction"
                 formControlName="trip_direction">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="one_way">One Way</label>
          <input type="text" id="one_way" class="form-control border-input" placeholder="One Way"
                 formControlName="one_way">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="comments">Comments</label>
          <input type="text" id="comments" class="form-control border-input" placeholder="Comments"
                 formControlName="comments">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="travel_time">Travel Time</label>
          <input type="text" id="travel_time" class="form-control border-input" placeholder="Travel Time"
                 formControlName="travel_time">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="p_u_lat">P/U Lat.</label>
          <input type="text" id="p_u_lat" class="form-control border-input" placeholder="P/U Lat."
                 formControlName="p_u_lat">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="p_u_long">P/U Long.</label>
          <input type="text" id="p_u_long" class="form-control border-input" placeholder="P/U Long."
                 formControlName="p_u_long">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="drop_off_lat">Drop-off Lat.</label>
          <input type="text" id="drop_off_lat" class="form-control border-input" placeholder="Drop-off Lat."
                 formControlName="drop_off_lat">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="drop_off_long">Drop-off Long.</label>
          <input type="text" id="drop_off_long" class="form-control border-input" placeholder="Drop-off Long."
                 formControlName="drop_off_long">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="checkbox">
            <input id="connected" type="checkbox" formControlName="__connected">
            <label for="connected">
              Permanent User
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="saveForm()">Save Record</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>
