.import-actions {
  padding: 20px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;

  input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.table-striped > thead > tr > th {
  padding: 0 8px;
}

.card .table tbody tr:first-child td:first-child, .card .table thead tr:first-child th:first-child {
  padding-left: 15px;
}

.card .table tbody tr:first-child td:last-child, .card .table thead tr:first-child th:last-child {
  padding-right: 15px;
}

.table thead tr:not(:first-child) > th {
  border-top-width: 0;
}

.table tbody > tr {
  white-space: nowrap;
}

::ng-deep .empty-row {
  padding: 15px;
}
